body{
  margin: 0;
  background-color: #ffedff;
  color: #40514E;
  font-family: 'Merriweather', serif;
}

h2{
  font-size: 2.5rem;
}

hr{
  border: dotted #ea7dc7 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


/* Containers */
.top-container{
  background-color: #ea7dc7;
  text-align: center;
  padding-top: 100px;
  overflow-x: hidden;
}


.intro{
  font-size: 562.5%; /*90px*/
  margin: 50px auto 0 auto;
  padding-bottom: 50px;
  font-family: 'Sacramento', cursive;
}



.middle-container{
  margin: 8% 3% 0 3%;
}

.greeting{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 5%;
  margin-bottom: 2%;
}


.education{
  padding: 0 15%;
}

.game-greeting{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 5%;
  text-align: center;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ea7dc7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.position-btn{
  position:absolute;
  bottom: 15px;
}

.btn:hover {
  background: #ffedff;
  text-decoration: none;
}

.languages{
  padding: 0 20%;
}

.in-touch{
  text-align: center;
}

.questions{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 5%;
  margin-bottom: 2%;
}


.bottom-container{
  text-align: center;
  background-color: #ea7dc7;
  padding: 50px 0 20px;
}

.spacing{
  padding-top: 4rem;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link{
  color: #393e46;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}



/* Images */
.onlineProfiles{
  padding-left: 20px;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 40px;
}

.bottom-cloud{
  position: absolute;
  left: 160px;
  top: 500px;
}

.chicken1{
  position: absolute;
  left: 200px;
  top: 710px;
}

.chicken2{
  position: absolute;
  right: 100px;
  top: 710px;
}

.gamePictures{
  height: 215px;
}
/* Images */
